
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<button class="btn btn-success" onclick="window.location.href='/Users/Index'"> Login</button>
<button class="btn btn-primary" onclick="window.location.href='/Degree/Index'"> Degree</button>

