
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:white">Choose Report To generate below</h2>

<div class="card " style="width:100%;height:100%;border:1px solid;border-radius:10px;padding:10px;background-color:rgba(0,0,0,0.88);margin-left:5px;margin-top:10px">
    <div class="btn-group-lg">
        <button class="btn btn-info btn-lg" onclick="window.location.href='@Url.Action("ConsumerList","Reports")'"> Consumer Report </button>
        <button class="btn btn-dark btn-lg" onclick="window.location.href='@Url.Action("ServiceProviderList","Reports")'"> Service Provider Report </button>
        <button class="btn btn-dark btn-lg" onclick="window.location.href='@Url.Action("AdminList","Reports")'"> Admin Report </button>
        <button class="btn btn-dark btn-lg" onclick="window.location.href='@Url.Action("SOLreport","Reports")'"> Service Order List Repot [BETA] </button>

    </div>
</div>