
@{
    ViewBag.Title = "ProviderComplete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

<div style=" background-color: white;border-radius:20px">
    <div class="wrapper content">
        <div class="wrapped-div">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <!-- Login Form -->
                    <img src="~/Content/Site/complete.png" class="mx-auto d-block" style="height:200px;width:200px;margin-left:27%">
                    <div class="form-row" style="display:inline-block">
                        <h3 style="color:lightskyblue;margin-left: 320px;">Application Successful</h3>
                        <p style="color: lightskyblue;margin-left: 330px;">Tell Provider to Check Email to login</p>
                        <h6 style="color: seagreen;margin-left: 60%;">*Also to check SPAM folder*</h6>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

