@model practiceViewModels.Models.Dogs

@{
    Layout = null;
}

<div class="Container">
  
    <label>Name</label>
    <input value="@Model.NameOfDog" />
    <label>Bread</label>
    <input value="@Model.Bread" />
    <label>Age</label>
    <input value="@Model.Age" />

</div>
<button>Save</button>
<button>Cancel</button>


