
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iservz</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/dist/css/style.css">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color:#1D2026">
        <button class="button button-dark button-sm" style=" border-radius:80px;margin-left:3%" onclick="window.location.href='@Url.Action("Landing","Home")'">

            <i style="color:white" class="fa fa-backward"> Return </i>

        </button>
    </nav>

    <section class="features section">
        <div class="container">
            <div class="features-inner section-inner has-bottom-divider">
                <div class="features-wrap">
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/Content/Pictures/Garden/Lawn.jpg" style="border-radius:180px" alt="Feature 01">
                            </div>
                            <h4 class="feature-title mt-24">Lawn Mowing</h4>
                            <p class="text-sm mb-0">When looking for assistance with lawn mowing and simply maintaining your grass</p>
                        </div>

                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/Content/Pictures/Garden/Tree.jpg" style="border-radius:100px" alt="Feature 02">
                            </div>
                            <h4 class="feature-title mt-24">Tree Cutting</h4>
                            <p class="text-sm mb-0">Do you have a tree that is taking up space or one that you dont need anymore?</p>
                        </div>


                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/Content/Pictures/Garden/Planting.jpg" style="border-radius:100px" alt="Feature 03">
                            </div>
                            <h4 class="feature-title mt-24">Planting</h4>
                            <p class="text-sm mb-0">Need help with planting new flowers or plants for your garden?</p>
                        </div>

                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/Content/Pictures/Garden/Yard.jpg" style="border-radius:100px" alt="Feature 04">
                            </div>
                            <h4 class="feature-title mt-24">Yard waste removal</h4>
                            <p class="text-sm mb-0">Need help with the removal or waste and tree leaves on your garden?</p>
                        </div>

                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/Content/Pictures/Garden/Pest.jpg" style="border-radius:100px" alt="Feature 05">
                            </div>
                            <h4 class="feature-title mt-24">Fertilizing and Pest Control</h4>
                            <p class="text-sm mb-0">Looking for help with fertilizing and protecting your plants from pests?</p>
                        </div>

                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/Content/Pictures/Garden/other.jpg" style="border-radius:100px" alt="Feature 06">
                            </div>
                            <h4 class="feature-title mt-24"> Other General Gardening Services</h4>
                            <p class="text-sm mb-0">When looking for help with any other general garden activity.</p>
                        </div>
                    </div>
                </div>
                <div class="hero-figure anime-element">
                    <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                        <rect width="528" height="396" style="fill:transparent;" />
                    </svg>
                    <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                    <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                    <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                    <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                    <div class="hero-figure-box hero-figure-box-05"></div>
                    <div class="hero-figure-box hero-figure-box-06"></div>
                    <div class="hero-figure-box hero-figure-box-07"></div>
                    <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                    <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                    <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
